.resultRow {
    font-family: var(--TextFont);
    font-size: 100px;
    font-weight: 400;
    max-height: 75px;

    @media (max-width: 600px) {
        //background-color: green;
        font-size: 50px;
    }
}

.operatorColumn {
    background-color: rgb(54, 51, 51);
    width: 100%;
    height: 75px;
    display: block;

    & > img {
        background: linear-gradient(
            180deg, 
            var(--gray-100) 0%,
            var(--gray-500) 100%);
        object-fit: cover;
    }

    @media (max-width: 600px) {
        //background-color: green;
        height: 45px;
    }
}

.column {
    // Text
    font-size: 0.20em;
    font-weight: 400;
    max-height: 75px;
    padding: 10px;
    overflow-y: hidden;

    @media (max-width: 600px) {
        //background-color: green;
        height: 45px;
    }
}

.correct {
    @extend .column;
    background-color: var(--correct);
}

.partial {
    @extend .column;
    background-color: var(--partial);
}

.wrong {
    @extend .column;
    background-color: var(--wrong);
}

.span {
    &:hover {
        cursor: pointer;
    }
}