.root {
    // Size and Position
    padding: 24px;
    max-width: 1800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

    // Background
    background-color: var(--gray-700);

    // Text
    text-align: center;
    color: white;
    border: 2px solid var(--gray-400);
}

.svgContainer {
    // Size and Positon
    min-width: 400px;
    margin-top: 24px;


    // Flex
    display: flex;
    flex-direction: row;

    min-width: 400px;
}

.svg {
    // Size and Position
    width: 1400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
    // Background
    background-color: var(--gray-700);
}

.noData {
    text-align: center;
}

.axisTicsLabel {
    stroke: white;
    stroke-width: 0.2;
    font-family: var(--TextFont);
}

.svg {
    fill: currentColor
}