.resultRow {
    font-family: var(--TextFont);
    font-size: 100px;
    font-weight: 400;

    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 70px;
    }
}

.operatorColumn {
    background-color: rgb(54, 51, 51);
    width: 100%;
    height: 75px;
    display: block;

    & > img {
        background-color: white;
        object-fit: cover;
    }
}

.column {
    font-size: 0.2em;

    @media (max-width: 1200px) {
        //background-color: red;

    }
    @media (max-width: 1050px) {
        //background-color: blue;
    }
    @media (max-width: 900px) {
        //background-color: green;
    }
}

.correct {
    @extend .column;
    background-color: var(--correct);
}

.partial {
    @extend .column;
    background-color: var(--partial);
}

.wrong {
    @extend .column;
    background-color: var(--wrong);
}
