.table {
    // Size and position
    width: 100%;
    background-color: rgb(70, 65, 65);
    font-size: 100px;

    // Text
    text-align: center;

    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 60px;
    }
}

.headerRow {
    // Text
    color: white;
    font-family: var(--HeaderFont);
    font-size: 0.16em;
    font-weight: 300;

    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.smallSizedColumn {
    width: 50px;
}

.mediumSizedColumn {
    width: 100px;
}

.bigSizedColumn {
    width: 150px;
}