.root {
    // Size and Position
    margin-bottom: 24px;

    // Text
    font-family: var(--HeaderFont);
    font-size: 0.64em;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 2px;

    @media (max-width: 400px) {
        font-size: 0.48em;
    }
}
