.searchBarResultItem {
    // Size and Position
    width: 100%;

    // Flex
    display: flex;
    flex-direction: row;

    // Color
    background-color: aqua;

    &:hover {
        background-color: red;
    }
}