@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  // Fonts
  --TitleFont: 'Roboto';
  --HeaderFont: 'Merriweather Sans';
  --TextFont: 'Lato';

  --disabled: rgb(112, 115, 125);

  // Colors
  /// Primary
  --primary-800: #0d202d;
  --primary-700: #1a415b;
  --primary-600: #266188;
  --primary-500: #3382b6;
  --primary-400: #40a2e3;
  --primary-300: #66b5e9;
  --primary-200: #8cc7ee;
  --primary-100: #b3daf4;

  //// Gray
  --gray-1000: #0a0a0a;
  --gray-900: #141414;
  --gray-800: #1f1f1f;
  --gray-700: #292929;
  --gray-600: #333333;
  --gray-500: #474747;
  --gray-400: #707070;
  --gray-300: #999999;
  --gray-200: #c2c2c2;
  --gray-100: #ebebeb;

  //// Blue Gray
  --blueGray-1000: #11111a;
  --blueGray-900: #212234;
  --blueGray-800: #32344f;
  --blueGray-700: #424569;
  --blueGray-600: #535683;
  --blueGray-500: #64678f;
  --blueGray-400: #8789a8;
  --blueGray-300: #a9abc1;
  --blueGray-200: #cbccda;

  //// Accent
  
  --accent-800: #322410;
  --accent-700: #644821;
  --accent-600: #966c31;
  --accent-500: #c89042;
  --accent-400: #FAB452;
  --accent-300: #fbc375;
  --accent-200: #fcd297;

  //// Other
  --correct: #32CD32;
  --wrong: #FF5349;
  --partial: #FFA500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page_content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  > #mainContent {
    display: flex;
    flex-grow: 1;
    background-color: red;
  }
}