@keyframes beDark {
    0% {
        background-color: var(--gray-400);
    }
    100% {
        background-color: var(--gray-400);
    }
}

@keyframes fadeInWrong {
    0% {
      background-color: var(--gray-600);
    }
    90% {
        background-color: var(--gray-600);
    }
    100% {
        background-color: var(--wrong);
    }
}

@keyframes fadeInPartial {
    0% {
      background-color: var(--gray-200);
    }
    100% {
        background-color: var(--partial);
    }
}

@keyframes fadeInCorrect{
    0% {
      background-color: var(--gray-200);
    }
    100% {
        background-color: var(--correct);
    }
}



.table {
    // Size and position
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    // Background
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    overflow: auto;
    transform:  rotateX(180deg);
    scrollbar-width: thin;

    // Text
    text-align: center;
    font-size: 100px;

    & > tbody {
        display: table;
        width: 100%;
        transform:  rotateX(180deg);
    }
}

.headerRow {
    // Size and Position
    min-height: 40px;

    // Text
    color: white;
    font-family: var(--HeaderFont);
    letter-spacing: 2px;
    font-size: 0.16em;
    font-weight: 300;

    // Background
    background-color: var(--gray-700);
}

.columnGeneric {
    padding: 8px;
}

.operatorTableColumnHeader {
    width: 0px;
}

.smallSizedColumn {
    @extend .columnGeneric;
    flex-grow: 1;
}

.mediumSizedColumn {
    @extend .columnGeneric;
    flex-grow: 2;
}

.bigSizedColumn {
    @extend .columnGeneric;
    flex-grow: 3;
}

.resultRow {
    font-family: var(--TextFont);
    font-size: 100px;
    font-weight: 400;
}

.operatorColumn {
    background-color: rgb(54, 51, 51);
    display: block;
    width: 100px;
    height: 100px;

    & > img {
        background: linear-gradient(
            180deg, 
            var(--primary-400) 0%,
            var(--gray-800) 100%);
        object-fit: cover;
    }
}

.column {
    // Text
    font-size: 0.20em;
    font-weight: 400;
    max-height: 75px;
    padding: 8px;
    overflow: hidden;
}

// @for $i from 1 through 10 {
//     .column:nth-child(#{$i}n) {
//         animation: beDark, fadeOut;
//         animation-duration: #{$i * 0.5}s, 1s;
//         animation-iteration-count: 1, 1;
//     }
// }

.correct {
    @extend .column;
    background-color: var(--correct);
}

.partial {
    @extend .column;
    background-color: var(--partial);
}

.wrong {
    @extend .column;
    background-color: var(--wrong);
}

.span {
    &:hover {
        cursor: pointer;
    }
}

.test {
    display: table;
    overflow: scroll;
}