.table {
    // Size and position
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;

    // Color
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);


    // Text
    text-align: center;
    font-size: 100px;

    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
        
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 60px;
    }

    & > tbody {
        display: table;
        width: 100%;
    }
}

.headerRow {
    // Size and Position
    min-height: 40px;

    // Text
    color: white;
    font-family: var(--HeaderFont);
    letter-spacing: 2px;
    font-size: 0.16em;
    font-weight: 300;

    // Background
    background-color: var(--gray-700);
}

.columnGeneric {
    padding: 8px;
}

.operatorTableColumnHeader {
    width: 0px;
}

.smallSizedColumn {
    @extend .columnGeneric;
    flex-grow: 1;
}

.mediumSizedColumn {
    @extend .columnGeneric;
    flex-grow: 2;
}

.bigSizedColumn {
    @extend .columnGeneric;
    flex-grow: 3;
}

.resultRow {
    font-family: var(--TextFont);
    font-size: 100px;
    font-weight: 400;
}

.operatorColumn {
    background-color: rgb(54, 51, 51);
    display: block;
    width: 100px;
    height: fit-content;

    & > img {
        background: linear-gradient(
            180deg, 
            var(--primary-400) 0%,
            var(--gray-800) 100%);
        object-fit: cover;
    }
}

.column {
    // Text
    font-size: 0.20em;
    font-weight: 400;
    max-height: 75px;
    padding: 8px;
    overflow: hidden;

    @media (max-width: 600px) {
        height: 45px;
    }
}

.correct {
    @extend .column;
    background-color: var(--correct);
}

.partial {
    @extend .column;
    background-color: var(--partial);
}

.wrong {
    @extend .column;
    background-color: var(--wrong);
}

.span {
    &:hover {
        cursor: pointer;
    }
}

.test {
    display: table;
    overflow: scroll;
}