.table {
    //Size and Position
    width: 100%;
    
}

.resultRow {
    // Size and Position
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    // Text
    text-align: center;

    // Background
    border: 2px solid var(--gray-400);
}

.guessRight {
    @extend .resultRow;

    // Background
    background-color: var(--correct);
}

.guessWrong {
    @extend .resultRow;

    // Background
    background-color: var(--wrong);
}

.content {
    // Size and Position
    padding: 8px;
}

.image {
    // Background
    
}

.rowText {
    // Text
    font-family: var(--TextFont);
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}