.searchBar {
    // Size and Position
    width: 100%;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 70px;
    }
}

.main {
    width: 70%;
    //background-color: blue;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;

    @media (max-width: 1200px) {
        //background-color: red;
        width: 65%;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        width: 75%;
    }
    @media (max-width: 900px) {
        //background-color: green;
        width: 95%;
    }
}

.topPart {
    // Size and Position
    width: 100%;
    position: relative;

    // Flexbox
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.searchResult {
    width: 100%;
    position: relative;
}

.abs {
    width: 100%;
    max-height: 55vh;
    overflow-y: scroll;
    position: absolute;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    z-index: 1;
}

.input {
    // Size and Position
    width: 80%;
    height: 75px;
    padding: 10px 20px;

    // Text
    font-family: var(--TextFont);
    font-weight: 400;
    font-size: 0.28em;

    // Flex
    flex: 100;

    &:focus {
        outline: none;
        border: 2px solid var(--primary-300);
    }
}

.button {
    display: inline-block;
    height: 75px;
    width: 20%;
    align-items: center;
    background-clip: padding-box;
    background-color: var(--primary-500);
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Roboto';
    font-size: 0.24em;
    font-weight: 400;
    letter-spacing: 3px;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;

    // Flex
    flex-grow: 10;

    &:hover, &:focus {
        background-color: var(--primary-400);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    }

    &:active {
        background-color: var(--primary-400);
        box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    }

    &:disabled {
        background-color: var(--disabled);
        cursor: auto;
    }
}

.searchBarResultItem {
    // Size and Position
    width: 100%;

    // Border
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;

    // Flex
    display: flex;
    flex-direction: row;

    // Color
    background-color: var(--gray-700);
    
    // Text
    color: white;
    font-size: 100px;

    // Other
    transition: 0.2s;

    &:hover {
        transition: 0.2s;
        background-color: var(--gray-600);
        color: var(--primary-500);
        cursor: pointer;
    }
}

// Result
.image {
    // Size and Position
    width: 90px;
    height: 90px;
    margin-right: 20px;

    background-color: white;
}

.p {
    // Size and Position
    width: 80%;

    // Flex
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Text
    font-size: 0.36em;
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 4px;
    user-select: none;
}