.root {
    // Size and Position
    padding: 24px 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    // Text
    font-family: var(--TitleFont);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 2px;
    color: var(--primary-400);

    // Background
    border: none;
    background-color: transparent;
    border: 3px solid var(--primary-400);

    // Other
    transition: 0.2s;

    &:hover {
        // Text
        color: var(--primary-300);

        // Background
        border-color: var(--primary-300);
        background-color: var(--blueGray-800);

        // Other
        cursor: pointer;
        transition: 0.2s;
    }
}