.navigation {
    // Size And Position
    width: 100%;
    
    // background
    background-color: var(--gray-800);
    border-bottom: 2px solid var(--gray-600);
}

.content {
    // Size and position
    padding: 20px 40px;

    // Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.links {
    // Flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 36px;
}

.link {
    // Size and Position
    padding: 16px;

    // Text
    text-decoration: none;
    color: #fff;
    font-family: var(--HeaderFont);
    letter-spacing: 2px;
    font-size: 24px;

    // Background
    border-bottom: 2px solid transparent;

    // Other
    transition: 0.2s;

    &:hover {
        // Text
        color: var(--primary-500);

        // Background
        border-bottom: 2px solid var(--primary-500);

        // Other
        transition: 0.2s;
    }
}

.logo {
    // Text
    color: var(--primary-500);
    font-size: 32px;
    font-family: var(--TitleFont);
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
}