.navigation {
    // Size And Position
    width: 100%;
    padding: 20px 30px;
    
    // Color
    background-color: var(--gray-800);
    border-bottom: 2px solid var(--gray-600);
}

.logo {
    // Text
    color: var(--primary-500);
    font-size: 32px;
    font-family: var(--TitleFont);
    font-weight: 300;
    letter-spacing: 4px;
    text-decoration: none;
}