.root {
    // Size and Position
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;

    // Background
    background-color: var(--gray-700);
    border: 1px solid var(--gray-300);
}

.section {
    // Size and Position
    margin-bottom: 28px;
    width: 100%;
}

.subsection {
    // Size and Position
    margin-top: 14px;
    width: 100%;
}

.list {
    // Size and Position
    margin-top: 8px;
    padding-left: 24px;

    > li {
        // Size and Position
        margin-bottom: 16px;

        // Text
        font-family: var(--TextFont);
        font-weight: 300;
        letter-spacing: 1px;
        color: white;

        &::marker {
            color: var(--accent-400);
        }
        
        > span {
            // Size and Position
            margin-right: 16px;
            
            // Text
            font-family: var(--HeaderFont);
            font-size: 24px;
            color: var(--accent-400);
            letter-spacing: 2px;
        }
    }
}