.table {
    // Size and position
    width: 100%;

    // Color
    background-color: var(--gray-600);
    border: 3px solid var(--gray-500);

    // Text
    text-align: center;
    font-size: 100px;


    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 60px;
    }
}

.headerRow {
    // Size and Position
    height: 40px;
    width: 20%;

    // Text
    color: white;
    font-family: var(--HeaderFont);
    letter-spacing: 2px;
    font-size: 0.16em;
    font-weight: 300;
}

.smallSizedColumn {
    width: 50px;
}

.mediumSizedColumn {
    width: 100px;
}

.bigSizedColumn {
    width: 150px;
}