.table {
    // Size and position
    width: 100%;

    // Color
    background-color: var(--gray-600);
    border: 3px solid var(--gray-500);

    // Text
    text-align: center;
    font-size: 100px;


    @media (max-width: 1200px) {
        //background-color: red;
        font-size: 90px;
    }
    @media (max-width: 1050px) {
        //background-color: blue;
        font-size: 80px;
    }
    @media (max-width: 900px) {
        //background-color: green;
        font-size: 60px;
    }
}

.headerRow {
    // Size and Position
    height: 40px;
    width: 20%;

    // Text
    color: white;
    font-family: var(--HeaderFont);
    letter-spacing: 2px;
    font-size: 0.16em;
    font-weight: 300;
}

.smallSizedColumn {
    width: 50px;
}

.mediumSizedColumn {
    width: 100px;
}

.bigSizedColumn {
    width: 150px;
}

.resultRow {
    font-family: var(--TextFont);
    font-size: 100px;
    font-weight: 400;
    max-height: 75px;

    @media (max-width: 600px) {
        //background-color: green;
        font-size: 50px;
    }
}

.operatorColumn {
    background-color: rgb(54, 51, 51);
    width: 100%;
    height: 75px;
    display: block;

    & > img {
        background: linear-gradient(
            180deg, 
            var(--gray-100) 0%,
            var(--gray-500) 100%);
        object-fit: cover;
    }

    @media (max-width: 600px) {
        //background-color: green;
        height: 45px;
    }
}

.column {
    // Text
    font-size: 0.20em;
    font-weight: 400;
    max-height: 75px;
    padding: 10px;
    overflow: hidden;

    @media (max-width: 600px) {
        //background-color: green;
        height: 45px;
    }
}

.correct {
    @extend .column;
    background-color: var(--correct);
}

.partial {
    @extend .column;
    background-color: var(--partial);
}

.wrong {
    @extend .column;
    background-color: var(--wrong);
}

.span {
    &:hover {
        cursor: pointer;
    }
}