.footer {
    // Size and Position
    width: 100%;
    height: 40px;
    padding: 10px 20px;

    // Text 
    text-align: center;
    color: white;

    // Color
    background-color: var(--gray-800);
    border-top: 2px solid var(--primary-900);
}