.page {
    // Size and Position
    width: 100%;
    min-height: 100vh;
    padding: 24px 12px 48px 12px;
}

.search {
    // Size and Position
    width: 100%;
    margin-bottom: 24px;

    // Text
    text-align: center;
}

.results { 
    // Size and Position
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.mainPanel {
    // Size and Position
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}