.talentDescription {
    // Size and Position
    width: 80%;
    padding: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    // Text
    font-size: 24px;
    font-family: var(--TextFont);
    font-weight: 300;
    color: white;

    // Background
    background-color: var(--gray-600);
    border: 2px solid var(--gray-300);

    @media (max-width: 600px) {
        width: 100%;
    }
}

.operatorImage {
    width: 200px;
    height: 200px;

    // Background
    background: linear-gradient(
        180deg, 
        var(--primary-400) 0%,
        var(--gray-800) 100%);
    object-fit: cover;
    border: 2px solid var(--accent-400);
    border-radius: 10px;
}