.mainPanel {
    // Size and Position
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.search {
    // Size and Position
    width: 100%;
    margin-bottom: 24px;

    // Text
    text-align: center;
}

.extentedPage {
    min-height: 800px;
}