.root {
    // Size and Position
    width: fit-content;
    padding: 20px;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    // Text
    color: white;

    // Flex
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 16px;

    // Background
    border: none;
    background-color: var(--gray-700);
    border: 3px solid var(--gray-200);
    border-radius: 15px;

    // Other
    transition: 0.2s;

    &:hover{
        // Text
        color: var(--accent-400);

        // Background
        border-color: var(--accent-400);
        background-color: var(--gray-800);

        // Other
        cursor: pointer;
        transition: 0.2s;
    }

    & > svg {
        border-width: 3px;
    }

    &:hover > svg {
        border-color: var(--accent-400);
        background-color: var(--gray-700);
        color: var(--accent-400);
    }

}

.text {
    // Text
    font-family: var(--HeaderFont);
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 2px;
    //color: white;
}

.icon {
    // Size and Position
    padding: 12px;

    // Text
    font-size: 64px;
    color: white;

    // Background
    background-color: var(--primary-500);
    border-radius: 100%;
    border: 2px solid var(--primary-700);

    // Other
    transition: 0.3s;
}