.page {
    // Size and Position
    width: 100%;
    min-height: 100vh;
    padding: 24px 12px 48px 12px;
    background: linear-gradient(
        180deg, 
        var(--gray-700) 0%,
        var(--primary-800) 85%, 
        var(--gray-700) 100%);
}

.mainPanel {
    // Size and Position
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.search {
    // Size and Position
    width: 100%;
    margin-bottom: 24px;

    // Text
    text-align: center;
}