.result {
    text-align: center;
}

.image {
    // Size and Position
    width: 180px;
    height: 180px;

    background: linear-gradient(
            180deg, 
            var(--primary-200) 0%,
            var(--gray-800) 100%);
    border: 2px solid black;
}

.resultHeader {
    // Size and Position
    margin: 24px;

    // Text
    font-family: var(--HeaderFont);
    font-size: 0.2em;
    font-weight: 300;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
}

.operatorName {
    // Text
    font-family: var(--TextFont);
    font-size: 0.36em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 2px;
}

.resultP {
    // Text
    font-family: var(--TextFont);
    font-size: 0.2em;
    font-weight: 400;
    //color: rgb(129, 218, 245);
    color: var(--primary-400);
    text-align: center;
}

.amountOfGuesses {
    // Text
    font-family: var(--TextFont);
    font-size: 0.28em;
    font-weight: 400;
    color: var(--primary-400);
    text-align: center;
}