.image {
    // Size and Position
    width: 200px;
    height: 200px;

    background: linear-gradient(
            180deg, 
            var(--primary-200) 0%,
            var(--gray-800) 100%);
    border: 3px solid var(--accent-400);
    border-radius: 10px;

    @media (max-width: 400px) {
        width: 140px;
        height: 140px;
    }
}