.information {
    // Size and Position
    margin-top: 8px;

    // Text
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: var(--TextFont);
    font-weight: 300;
}

.hintsContainer {
    // Size and Position
    width: 100%;
    margin-top: 24px;

    // Display
    display: flex;
    flex-direction: row;
    column-gap: 16px;

    @media (max-width: 400px) {
        flex-direction: column;
        row-gap: 12px;
    }

    > button {
        // Size and Position
        padding: 12px;

        // flex
        flex-grow: 1;

        // Text
        text-align: center;
        font-family: var(--HeaderFont);
        letter-spacing: 2px;
        font-size: 20px;
        color: var(--gray-200);

        // Background
        background-color: transparent;
        border: 2px solid var(--gray-200);
        border-radius: 10px;

        // Other
        transition: 0.2s;

        &:hover {

            //Text
            color: var(--accent-400);

            // Background
            border-color: var(--accent-400);
            background-color: var(--gray-800);

            // Other
            cursor: pointer;
            transition: 0.2s;
        }

        &.current {
            border-color: var(--primary-400);
            color: var(--primary-400);
            background-color: var(--gray-800);

            &:hover {
                //Text
                color: var(--accent-400);
    
                // Background
                border-color: var(--accent-400);
                background-color: var(--gray-800);
    
                // Other
                cursor: pointer;
                transition: 0.2s;
            }
        }
    }


}


.hintText {
    // Size and Position
    padding: 28px;
    margin-top: 16px;

    // Text
    font-size: 20px;
    font-family: var(--TextFont);
    font-weight: 300;
    color: white;
    text-align: center;

    // Background
    background-color: var(--gray-800);
    border: 2px solid var(--primary-400);
}

.button {
    // Size and Postion
    width: 50%;
    margin-top: 16px;
    padding: 12px 48px;

    // Text
    font-size: 18px;
}

.loading {
    // Size and Position
    margin-top: 8px;

    // Text
    color: white;
    font-family: var(--TextFont);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
}