.root {
    // Text
    color: whitesmoke;
    font-size: 64px;
    font-family: var(--TitleFont);
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;

    // Other
    transition: 0.2s;

    &:hover {
        transition: 0.2s;
    }
}